<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/static/favicon-96x96.png">
    <title>아이스크림 주문하기</title>
</head>
<body>
<h1>아이스크림 주문 페이지</h1>

<h3>제품 선택</h3>
<div>
    아이스크림 종류:<br>
    <th:block th:each="product : ${product}">
        <input type="radio" name="product" th:value="${product}" th:attr="data-productid=${product.productId}">
        <span th:text="${product.productName}"></span><small th:text="${product.productPrice}"></small><br>
    </th:block>
</div>

<h3>토핑 선택</h3>
<div>
    토핑 종류:<br>
    <th:block th:each="topping : ${topping}">
        <input type="checkbox" name="topping" th:value="${topping}" th:attr="data-toppingid=${topping.toppingId}">
        <span th:text="${topping.toppingName}"></span><small th:text="${topping.additionalPrice}"></small><br>
    </th:block>
</div><br>

<form action="orderSuccess" id="formTest" method="post">
    <input type="button" id="addBtn" value="담기">
    <input type="button" id="orderSubmit" value="주문하기">
</form>

<h3><div id="total"></div></h3>

</body>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    let num = 0;
    const formTest = $('#formTest');
    const orders = [];
    let order = {products: [], toppings: []};
    var total = 0;

    // -- 담기버튼 이벤트 --
    $('#addBtn').click(function () {
        let thisIcecream = 0;
        num = $('.testdiv').length; //num 재설정

        const productId = $('input[name="product"]:checked').data('productid');
        const productName = $('input[name="product"]:checked').next().text();
        const productPrice = $('input[name="product"]:checked').next().next().text();
        const product = {productId: productId, productName: productName, quantity: 1, productPrice: productPrice};
        order.products.push(product);
        formTest.append("<hr><div id='"+num+"' class='testdiv' style='min-height: 50px'>"
            +"<div style='float: right;'><input type='button' class='addDel' value='삭제'>"
            +"<br><input type='number' class='quantity totalQuantity' min='1' value='1' style='width: 35px'></div>"
            +"<div>| 상품명 : "+productName+"</div>"
            +"</div>");
        total = total + parseInt(productPrice);
        thisIcecream = parseInt(productPrice);
        $('input:checkbox[name=topping]').each(function () {
            if ($(this).is(":checked")) {
                const toppingId = $(this).data('toppingid');
                const toppingName = $(this).next().text();
                const additionalPrice = $(this).next().next().text();
                const topping = {toppingId: toppingId, toppingName: toppingName, quantity: 1, additionalPrice: additionalPrice};
                order.toppings.push(topping);
                const divNum = "#" + num;
                const div = $(divNum);
                div.append("<div class='thisTopping'>| 토핑명 : "+toppingName+"&nbsp<input type='number' class='quantity toppings' min='1' value='1' style='width: 25px'></div>");
                $('.thisTopping').last().val(additionalPrice);
                total = total + parseInt(additionalPrice);
                thisIcecream = thisIcecream + parseInt(additionalPrice);
            }
        });
        $('#total').text("총 금액 : " + total);
        $('#'+num).val(thisIcecream);
        orders.push(order);
        order = {products: [], toppings: []};
        num++;
    });

    // totalQuantity 값이 바뀔 때
    $(document).on("change", ".totalQuantity", function(){
        const thisIcecream = $(this).closest('.testdiv').val();
        const quantity = $(this).val();
        const divNum = $(this).closest('.testdiv').attr('id');

        // orders 배열에서 원래 수량 가져오기
        const originalQuantity = orders[divNum].products[0].quantity;
        if(quantity > originalQuantity){ // 수량이 증가했을 때
            const price = parseInt(thisIcecream) * (parseInt(quantity) - parseInt(originalQuantity));
            total = total + price;
        }else if(quantity < originalQuantity){ // 수량이 감소했을 때
            const price = parseInt(thisIcecream) * (parseInt(originalQuantity) - parseInt(quantity));
            total = total - price;
        }
        orders[divNum].products[0].quantity = quantity;
        $('#total').text("총 금액 : " + total);
    });

    // toppings 값이 바뀔 때
    $(document).on("change", ".toppings", function(){
        const thisIcecream = parseInt($(this).closest('.testdiv').val()); // 아이스크림 가격(div 덩어리 값)
        const divNum = $(this).closest('.testdiv').attr('id');
        const thisToppingPrice = $(this).closest('.thisTopping').val(); // 선택한 토핑 가격
        const quantity = $(this).val();
        const thisToppings = $('#' + divNum).children('.thisTopping').children('.toppings'); // 이 div의 모든 토핑(input)
        const index = thisToppings.index(this); // 이 div의 토핑 중 현재 선택한 토핑의 index

        const originalQuantity = orders[divNum].toppings[index].quantity;
        if(quantity > originalQuantity){ // 수량이 증가했을 때
            const price = parseInt(thisToppingPrice) * (parseInt(quantity) - parseInt(originalQuantity));
            total = total + price;
            $(this).closest('.testdiv').val(thisIcecream + price); // div 덩어리 값 바꿔주기
        }else if(quantity < originalQuantity){ // 수량이 감소했을 때
            const price = parseInt(thisToppingPrice) * (parseInt(originalQuantity) - parseInt(quantity));
            total = total - price;
            $(this).closest('.testdiv').val(thisIcecream - price); // div 덩어리 값 바꿔주기
        }
        orders[divNum].toppings[index].quantity = quantity; // orders 배열의 quantity 바꿔주기
        $('#total').text("총 금액 : " + total);

    });

    // 라디오버튼 중 첫번째 checked
    $('input:radio[name=product]').first().attr("checked",true);

    // -- 주문하기 버튼 이벤트 --
    $('#orderSubmit').click(function(){
        if($('#0').length === 0){
            alert("아이스크림 선택~!");
            return false;
        }else{
            if (confirm("주문하시겠습니까?")) {
                $.ajax({
                    url: '/orders',
                    type: 'POST',
                    contentType: 'application/json; charset=UTF-8',
                    data: JSON.stringify(orders),
                    success: function(data) {
                        location.href = "/orderSuccess";
                    },
                    error: function(error) {
                        // 오류 처리
                        console.error('Error:', error);
                    }
                });
            } else {
                return false;
            }
        }
    });

    // -- 삭제버튼 이벤트 --
    $(document).on("click", ".addDel", function(){
        const divNum = $(this).closest('.testdiv').attr('id');
        //total 값 변경
        total = total - (parseInt($('#'+ divNum).val()) * parseInt($('#'+ divNum).find('.totalQuantity').val()));
        $('#total').text("총 금액 : " + total);
        //요소 삭제
        $(this).closest('.testdiv').prev('hr').remove();
        $(this).closest('.testdiv').remove();
        //testdiv의 원소 하나가 삭제될 때 마다 id값 재설정
        let i = 0;
        $('.testdiv').each(function() {
            $(this).attr('id', i);
            i++;
        });
        //orders 배열의 원소 삭제
        console.log(divNum);
        orders.splice(divNum, 1);
    });





</script>
</html>