<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/static/favicon-96x96.png">
    <title>Title</title>
</head>
<body>
<h2>주문 성공</h2>

<h3>주문 내역</h3>
<div th:each="order, iterStat : ${orderInfo}">
    <th:block th:if="${iterStat.index == 0}">
        <h3><p>주문번호 : [[${order.orderId}]]</p></h3>
        <h3><p>주문시간 : <th:block th:text="${#dates.format(order.orderDateTime, 'yyyy-MM-dd HH:mm:ss')}"/></p></h3>
        <h3><p>총 금액 : [[${order.totalAmount}]]</p></h3>
    </th:block>
</div>
<hr>
<th:block th:each="orderDetail, iterStat : ${test}">
    <p>아이스크림 이름 : [[${orderDetail.productName}]] - [[${orderDetail.quantity}]]개</p>
<th:block th:each="topping, iterStat : ${test2}">
<th:block th:each="toppingDetail, iterStat : ${topping}">
<th:block th:if="${toppingDetail.orderDetailId == orderDetail.detailId}">

        <p>옵션 : [[${toppingDetail.toppingName}]] - [[${toppingDetail.toppingQuantity}]]개</p>
</th:block>
</th:block>
</th:block>
    <hr>
</th:block>

</body>
</html>